#contentTop{
	height: 80px;
	width: auto;
}
.divrow1{
	margin-top:10px;
}
.texthead{
	text-align: right;
	margin-right: -10px;
	width: 120px;
}
#redline{
	height:30px;
	margin-left: 0;
    margin-right: auto; 
}
.img{
	width:820px;
}

.show{
	margin-left: 180px;
    margin-right: auto; 
	height:150px;
	width:380px;
    border:1px solid #ccc; 
    overflow-y:auto; 
    padding-bottom:10px;
}
